@import "./nprogress.css";
@import "viewerjs/dist/viewer.min.css";

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font: 14px/1.5 -apple-system,BlinkSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",Helevetica,Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei","Source Han Sans CN",sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.def-color {
  color: #666 !important;
}

.ch {
  color: inherit !important;
}

a {
  text-decoration: none;
  color: #1890ff;

  &:hover {
    text-decoration: underline;
  }
}

.w100 {
  width: 100%;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mt10 {
  margin-top: 10px;
}

.zoom-in {
  cursor: zoom-in !important;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.cp {
  cursor: pointer;
}

.middle {
  vertical-align: middle;
}

.bg-transparent {
  background-color: transparent !important;
}

.inline-block {
  display: inline-block;
}

.none {
  display: none;
}

.nowrap-popper {
  white-space: nowrap;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.transparent {
  opacity: 0;
}

.relative {
  position: relative;
}
